<% layout('layout/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%= campground.id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          value="<%= campground.title %>"
          autocomplete="off"
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          placeholder="Camp Ground Title"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          value="<%= campground.location %>"
          autocomplete="off"
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          placeholder="Camp Ground Location"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="image">Add Images</label>
        <input
          name="image"
          type="file"
          class="form-control"
          id="image"
          multiple
        />
      </div>

      <div class="mb-3">
        <label for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            value="<%= campground.price %>"
            name="campground[price]"
            id="price"
            placeholder="0.00"
            type="number"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks Good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          placeholder="Camp Ground Description"
          required
        >
<%= campground.description %></textarea
        >
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <% campground.images.forEach((img,i) => { %>
        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            name="deleteImages[]"
            value="<%= img.filename %>"
            id="image-<%= i %>"
          />
          <label for="image-<%= i %>">Delete Image?</label>
        </div>
        <% }) %>
      </div>

      <button class="btn btn-info mb-3">Update Campground</button>
    </form>
    <a class="btn btn-warning mb-3" href="/campgrounds/<%= campground.id %>"
      >Back to Campgrounds</a
    >
  </div>
</div>
